# Byte-compiled / optimized / compiled files
*.pyc
__pycache__/
*.pyd
*.so

# C extensions
*.dll
*.ext
*.o
*.obj

# Distribution / packaging
.Python
env/
venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django-specific files
*.log
*.pot
local_settings.py  # Or other sensitive settings files

/media/  # Or wherever you store user-uploaded media files
/permits_scans/  # Сканы нарядов (MEDIA_ROOT)
/static_collected/  # If you use collectstatic

# IDE-specific files
.idea/  # PyCharm
.vscode/  # VS Code
*.sublime-workspace
*.sublime-project

# Operating System files
.DS_Store
Thumbs.db

# Virtual Environment
.env

# Testing and Coverage
.coverage
.tox/

# Other temporary files
*~
*.swp

# Игнорировать библиотеки
node_modules/
frontend/node_modules/

# Игнорировать базу и бэкапы
db.sqlite3
*.sql
*.dump